#dieholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.die {
    padding: 0.5em;
    margin: 0.2em;
    background-color: azure;
    border: 1px rgb(131, 131, 131) solid;
    border-radius: 10%;
    cursor: pointer;
}