#draw-zone-bg {
    display: flex;
    position: relative;
    background-color: azure;
    width: auto;
    height: 100vh;

    justify-content: center;

    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.35);
}

#draw-zone {
    position: relative;
    background-color: azure;
    width: 70%;
    height: 70%;
    align-self: center;
}

#sidepanel {
    position: fixed;
    right: 3em;
    top: 5em;
    height: 75vh;
    width: 15vw;
}

.circle {
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;

    border-bottom-color:black;
    border-bottom-style: solid;

    border-right-color: azure;
    border-right-style: solid;

}

.shape {
    cursor: pointer;
    position: absolute;
    background-color: black;
}

.rectangle {

}