$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.blogPreview {
    margin: 1em;
    flex-shrink: 0;
    flex-basis: 15em;
}
